<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= @schedule.date %>
</p>

<p>
  <b>Fourth period:</b>
  <%= @schedule.fourth_period %>
</p>

<p>
  <b>Fifth period:</b>
  <%= @schedule.fifth_period %>
</p>


<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
